@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


html.light{
  background-color: hsl(0, 0%, 98%);
  scroll-behavior: smooth;
}
html.dark{
  background-color: hsl(207, 26%, 17%);
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto Mono', monospace;
}
.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  z-index: 1000;
}
.loader{
  background-image: url("/images/daniel.jpg");
  background-repeat: no-repeat;
  width: 100%;
}
.App{
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.back-top-container {
  height: 40px;
  text-align: center;
  width: 140px;
  /* background-color: #37475a; */
}

